body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
/* -------------------------------------------------------- */
/* beach Game Page CSS */

#game-body {
    background-color: #fbfbfb;
}

#game-body header {
    height: 100px;
    padding-top: 10px;

}

#game-body .logo-purple {
    width: 250px;
    display: block;
    margin: 0 auto;
}

.grid-bg {
    width: 530px;
    height: 700px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.26);
    float: none;
    margin-left: 30px;
}

#left-co {
    padding-top: 50px;
}

.beach-list .fa-clock, .fa-check {
    color: grey;
}

.btn {
    background-color: #aa00ff;
    border-color: #aa00ff;
    padding: 10px 25px 10px 25px;
}

.btn-primary:hover {
    color: #aa00ff;
    background-color: #ffffff;
    border-color: #aa00ff;
}

.active {
    color: #aa00ff;
    font-weight: bold;
}

.selected {
    background-color: #aa00ff;
    color: #fff;
}

.found {
    color: #aa00ff;
    font-weight: bold;
}

.grid-bg h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 17px;
}



table, th, td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    font-family: Avenir;
    margin: 0 auto;
}

th, td {
    padding: 15px;
}

.cell:hover {
    background-color: #aa00ff;
    color: #ffffff;
}

#game-body .restart {
    margin: 40px 40px;
}

.beach-list {
    list-style: none;
    color: grey;
}

.beach-list li {
    padding-top: 15px;
}

.overlay-win {
    background-color: rgba(0,0,0,0.26);
    color: white;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
}

.overlay-content-win {
    color: white;
    margin-top: 251px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-win h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
                
.overlay-win h2 {
    font-size: 18px;
    text-align: center;
}

.overlay-win .fa-check {
    color: white;
    width: 50px;
    font-size: 40px;

}

.overlay-lose {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
}

.overlay-content-lose {
    color: white;
    margin-top: 251px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-lose h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
                
.overlay-lose h2 {
    font-size: 18px;
    text-align: center;
}

#game-body .playagain {
    /* margin-left: 665px; */
    margin-top: 30px;
}

.overlay-lose .fa-clock {
    color: white;
    width: 50px;
    /* margin-left: 705px; */
    font-size: 40px;
}

#timer .fa-clock {
    padding-right: 10px;
}

#timer {
    color: #D600E0;
    font-weight: bold;
    font-size: 20px;
}
