body {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

#landing-body header {
    background-color: #aa00ff;
    height: 50px;
    color: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#landing-body .logo-purple {
    width: 300px;
    display: block;
    margin: 50px auto;
}

#landing-body .logo-white {
    margin-left: 50px;
    vertical-align: top;
    height: 60px;
}

nav {
    float: right;
    padding-right: 50px;
    padding-top: 14px;
}

nav > a {
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
}

nav > a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

#landing-body .col-sm-3 {
    justify-content: space-around;
    width: 150px;
}

.bg-image {
background-image: url(../images/word-bg.jpg);
background-size: cover;
display: block;
filter: blur(5px);
-webkit-filter: blur(5px);
height: 800px;
left: 0;
position: fixed;
right: 0;
z-index: 1;
}

.content {
    top: 10px;
    left: 0;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
}

.main {
    margin-top: 50px;
    text-align: center;
    overflow: auto;
}

.main > div {
    position: relative;
    display: inline-block;
}

.btn {
    background-color: #aa00ff;
    border-color: #aa00ff;
    padding: 10px 25px 10px 25px;
}

.btn-primary:hover {
    color: #aa00ff;
    background-color: #ffffff;
    border-color: #aa00ff;
}

#landing-body p {
    text-align: center;
    width: 50%;
    margin: 120px auto;
    line-height: 35px;
}

.categories {
    width: 500px;
    height: 200px;
    background-color: #aa00ff;
    color: white;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}

.categories ul {
    padding: 0;
}

.categories h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.categories li {
    list-style: none;
    margin-top: 20px;
    border-bottom: 3px solid transparent;
}

.categories li:hover {
    border-bottom: 3px solid #fff;
}